body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#parent {
  display: grid;
  width: 800px;
  height: 800px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border: solid 5px;
  align-self: center;
  }

#newGridButton {
  margin: 15px;
  background-color: #3882f6;
  border-radius: 5px;
  color: #F9Faf8;
  border: 0;
  font-weight: 700;
  padding: 8px 24px;
}
