body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#parent {
  display: grid;
  width: 800px;
  height: 800px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border: solid 5px;
  align-self: center;
  }
